* {
   
    margin: 0;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, h2{
    color: white;
}


.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.navbar a {
    /* background-color: rgb(125, 67, 67); */
    color: white;
    text-decoration: none;
    /* border: 1px solid;
    border-radius: 8px; */
    margin: 5px;
    padding: 10px;
    
}

.life {
    position: absolute;
}
/*fixed : radius */
a {
    transition-property: background-color;
    transition-duration: 0.8s;
    transition-delay: 0.2s;
    border-radius: 6px;
}
a:hover {
    background-color: brown;
    border: 2px;
    border-radius: 6px;
    color: white;
    text-decoration: underline;

}

.raven {
    background-color: brown;
    height: 50px;
    width: auto;
    cursor: pointer;
    
}

.love {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: auto;
    border: 1px;
    border-radius: 6px;
    cursor: pointer;
}


#lovecraftv {
    position: fixed;
    
    bottom: 0;
}
h2 {
    text-align: center;
display: block;
}

.book {
    width: 15%;
    cursor: pointer;
    transition-property: margin;
    transition-duration: 1.2s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}


.books {
position: absolute;
display: flex;
/* justify ve align için display flex olması gerekmektedir. */
justify-content: center;
flex-direction: column;
align-items: center;
width: 50vw;
}

.books .books__images__content {
    display: flex;
    justify-content: center;
}

.column {
    flex: 20%;
    padding: 50px;
}

.book:hover {
    margin: 5px;
}




